 <section class="section about-me" data-section="section1">
        <div class="container">
          <div class="section-heading">
            <h2>Acerca de mí</h2>
            <div class="line-dec"></div>
            <span>Hola, mi nombre es Jefry Navas actualmente soy estudiante de séptimo semestre en Ingeniería en Ciencias de la Computación en la Universidad Politecnica Salesiana (Quito-Ecuador).</span>
          </div>
          <div class="left-image-post">
            <div class="row">
              <div class="col-md-6">
                <div class="left-image">
                  <img src="assets/images/compu.jpg" alt="" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="right-text">
                  <h4>Biografía</h4>
                  <p>
                    Estoy estudiando la carrera de Ingeniería porque me apasiona la programación, mi objetivo es mejorar mi calidad de vida y de mi familia. <br>
                     Mi interés radica en resolver problemas relacionados con sistemas de software y aplicaciones, crear software que sea utíl y práctico para las personas
                  </p>
                  <div class="white-button">
                    <a href="#">Leer más</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </section>