<section class="section about-me" data-section="section3">
    <div class="container">
        <div class="section-heading">
            <h2 class="px-3">Educación</h2>
            <div class="line-dec"></div>
            <div class="row text-left">
                <br>
						<div class="col-md-12 col-sm-12 col-xs-12">
							<div class="top-item resume-item">
								<h3>Unidad Educativa Fiscomiscional "Don Bosco"</h3>
								<span>JULIO 2017</span>
								<p>Bachillerato en Informática</p>
							</div>
						</div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
							<div class="top-item resume-item">
								<h3>Ingeniería en Ciencias de la Computación</h3>
								<span>JUNIO, 2021</span>
								<p>Actualmente estudiante 7° Semestre - Universidad Politécnica Salesiana (Quito-Ecuador)</p>
							</div>
						</div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
							<div class="top-item resume-item">
								<h3>Certificado de Curso en Udemy</h3>
                                <ul>
                                    <li>
                                        <span>JUNE 2021</span>
                                        <p>Master en JavaScript: Aprender JS, jQuery, Angular, NodeJS.</p>
                                    </li>
                                </ul>
								
							</div>
						</div>
					
						
			</div>

        </div>

    </div>
</section>