<section class="section my-services" data-section="section2">
    <div class="container">
        <div class="section-heading">
            <h2>HABILIDADES</h2>
            <div class="line-dec"></div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="service-item text-center">
                    <h4>HTML5</h4>
                    <img src="assets/images/html.png" width="">
                </div>
            </div>
            <div class="col-md-3">
                <div class="service-item text-center">
                    <h4>CSS3</h4>
                    <img src="assets/images/css.svg" width="">
                </div>
            </div>
            <div class="col-md-3">
                <div class="service-item text-center">
                    <h4>NODEJS</h4>
                    <img src="assets/images/node.png" width="">
                </div>
            </div>
              <div class="col-md-3">
                <div class="service-item text-center">
                    <h4>PYTHON</h4>
                    <img src="assets/images/python.png" width="">
                </div>
            </div>
        </div>
        <div class="row">
             <div class="col-md-3">
                <div class="service-item text-center">
                    <h5>JAVASCRIPT</h5>
                    <img src="assets/images/js.png" width="">
                </div>
            </div>
            <div class="col-md-3">
                <div class="service-item text-center">
                    <h4>GIT</h4>
                    <img src="assets/images/git.png" width="">
                </div>
            </div>
        </div>
    </div>

</section>