<section class="section my-work" data-section="section4">
    <div class="container">
        <div class="section-heading">
            <h2>Mi Portafolio</h2>
            <div class="line-dec"></div>
            <span>Mis proyectos realizados.</span
        >
      </div>
      <div class="row">
        <div class="isotope-wrapper">
          <form class="isotope-toolbar">
            <label
              ><input
                type="radio"
                data-type="*"
                checked=""
                name="isotope-filter"
              />
              <span>Todos</span></label>
            <label><input
                type="radio"
                data-type="people"
                name="isotope-filter"
              />
              <span>Personales</span></label
            >
            <label
              ><input
                type="radio"
                data-type="nature"
                name="isotope-filter"
              />
              <span>Académicos</span></label
            >
            
          </form>
        
          <div class="isotope-box">
            

              <div class="isotope-item" data-type="nature">
                <figure class="snip1321">
                  <img
                  src="assets/images/tecontrato.PNG"
                  alt="sq-sample26"
                  />
                  <figcaption>
                    <a
                    href="assets/images/tecontrato.PNG"
                    data-lightbox="image-1"
                    data-title="tecontrato.com"
                    ><i class="fa fa-search"></i
                    ></a>
                    <h4>Servicio de Contratos profesional</h4>
                    <span>Proyecto Servicio de Contratos profesional</span>
                  </figcaption>
                </figure>
              </div>
              <div class="isotope-item" data-type="nature">
              <figure class="snip1321">
                <img
                  src="assets/images/ana.PNG"
                  alt="sq-sample26"
                />
                <figcaption>
                  <a
                    href="assets/images/ana.PNG"
                    data-lightbox="image-1"
                    data-title="Analisis de Sentimientos"
                    ><i class="fa fa-search"></i
                  ></a>
                  <h4>Analisis de Sentimientos</h4>
                  <span>Proyecto Analisis de Sentimientos (Machine Learning)</span>
                </figcaption>
              </figure>
            </div>
            <div class="isotope-item" data-type="people">
              <figure class="snip1321">
                <img
                  src="assets/images/bar.PNG"
                  alt="sq-sample26"
                />
                <figcaption>
                  <a
                    href="assets/images/bar.PNG"
                    data-lightbox="image-1"
                    data-title="Página web Proyecto Bar-Discoteca"
                    ><i class="fa fa-search"></i
                  ></a>
                  <h4>Página web Bar-Discoteca</h4>
                  <span>Página web Proyecto Bar-Discoteca</span>
                </figcaption>
              </figure>
            </div>
          </div>
            
            
            
          </div>
            
       
        
      </div>
    </div>
  </section>